.json-viewer {
  max-height: 150px;
  overflow-y: scroll;
  font-family: 'Source Code Pro', monospace;
  font-size: 12px;
  font-weight: $fw-semi-bold;
}

.json-preview {
  font-family: 'Source Code Pro', monospace;
  font-size: 14px;
  max-height: 500px;
  overflow-y: scroll;

  &__nest-container {
    padding-left: $global-padding / 2;
  }

  &__nest-item {
    margin-bottom: $global-margin;
  }

  &__exploder {
    cursor: pointer;
    margin-right: $global-margin / 4;
  }

  &__key {
    font-weight: $fw-bold;
  }

  &__value--error {
    font-weight: $fw-bold;
    background-color: $light-red;
    border: $red 2px solid;
    border-radius: 2px;
  }

  &--center {
    display: flex;
    align-items: center;
  }
}
