@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;900&family=Quicksand&family=Source+Code+Pro:wght@200;300;400;600;700;900&display=swap&display=swap");
//@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;600;700;900&display=swap');

$global-padding: 24px;
$global-margin: 12px;

$black: #000000;
$white: #ffffff;
$light-gray: #ebebeb;
$gray: #c2c2c2;

$light-red: #FF99A7;
$red: #E0001E;

$fw-extra-light: 200;
$fw-light: 300;
$fw-regular: 400;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-black: 900;
